:root {
  /* color */
  --biru: #0e1555;
  --kuning: #ffd717;
  --abu-abu: #7b7b7b;
  --putih: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.animated {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  display: block;
  background-color: #0e4166;
  background-image: linear-gradient(to bottom, rgba(20, 1, 197, 0.86), #060157);
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  display: block;
  background-color: #0e4166;
  background-image: linear-gradient(to bottom, rgba(20, 1, 197, 0.86), #060157);
}

/* navbar */
.navbar {
  background-color: #0e4166;
  background-image: linear-gradient(to bottom, rgba(20, 1, 197, 0.86), #0900af);
}

/* hiro */
.hiro h1 {
  text-shadow: 1px 1px 2px rgba(8, 8, 8, 0.993);
}

/* about */
.about {
  background-color: #0e4166;
  background-image: linear-gradient(to bottom, rgba(25, 0, 255, 0.86), #070266);
}

.about img {
  /* border-radius: 0 0 0 10px; */
  /* border-left: 3px solid #fde047;
  border-bottom: 3px solid #fde047; */
}

/* footer */
footer {
  background-color: #0e4166;
  background-image: linear-gradient(to bottom, rgba(20, 1, 197, 0.86), #0900af);
}
